Hi, this is custom index file.

Executing on Machine IP : {{ ansible_all_ipv4_addresses }}

This is OS family : {{ ansible_os_family }}

This machine FQDN is : {{ ansible_fqdn }}

This is Distro : {{ ansible_distribution }} and BIOS : {{ ansible_bios_version }}

Hard cosed variable : {{ custom_var }}
